{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Document</title>
</head>
<body>
    {% block content %}
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger">Upload</button>
            </form>
            <a href="{% url 'profile' %}">Return to Profile</a>
        </div>
    {% endblock %}
</body>
</html>